.vs/*
.vscode/*



Fire Launcher/bin/*
Fire Launcher/obj/*
publish/Fire Launcher/Fire Launcher.exe
publish/Fire Launcher/*.pdb



x64/Debug/*
x64/Release/*
x86/Debug/*
x86/Release/*



Fire/x64/Debug/*
Fire/x64/Release/*
Fire/Debug/*
Fire/Release/*



Game Server/x64/Debug/*
Game Server/x64/Release/*
Game Server/Debug/*
Game Server/Release/*
publish/Game Server/*.pdb


