.vs/*
.vscode/*



FireLauncher/bin/*
FireLauncher/obj/*
publish/FireLauncher/FireLauncher.exe
publish/FireLauncher/*.pdb



x64/Debug/*
x64/Release/*
x86/Debug/*
x86/Release/*
!*/*/mysqlcppconn-9-vs14.dll
!*/*/libcrypto-1_1.dll
!*/*/libcrypto-1_1-x64.dll
!*/*/libssl-1_1.dll
!*/*/libssl-1_1-x64.dll


FireClient/x64/Debug/*
FireClient/x64/Release/*
FireClient/Debug/*
FireClient/Release/*



FireNet/x64/Debug/*
FireNet/x64/Release/*
FireNet/Debug/*
FireNet/Release/*



FireServer/x64/Debug/*
FireServer/x64/Release/*
FireServer/Debug/*
FireServer/Release/*
publish/FireServer/*.pdb


