.vs/*
.vscode/*



GameLauncher/bin/*
GameLauncher/obj/*
publish/GameLauncher/GameLauncher.exe
publish/GameLauncher/*.pdb



x64/Debug/*
x64/Release/*
x86/Debug/*
x86/Release/*
!*/*/mysqlcppconn-9-vs14.dll
!*/*/libcrypto-1_1.dll
!*/*/libcrypto-1_1-x64.dll
!*/*/libssl-1_1.dll
!*/*/libssl-1_1-x64.dll


GameClient/x64/Debug/*
GameClient/x64/Release/*
GameClient/Debug/*
GameClient/Release/*

FireRender/x64/Debug/*
FireRender/x64/Release/*
FireRender/Debug/*
FireRender/Release/*


FireNet/x64/Debug/*
FireNet/x64/Release/*
FireNet/Debug/*
FireNet/Release/*



GameServer/x64/Debug/*
GameServer/x64/Release/*
GameServer/Debug/*
GameServer/Release/*
publish/GameServer/*.pdb


